html {
  font-family: $s-font-family-sans;
  font-size: $s-font-size-base;
  line-height: $s-line-height-base;
  color: $s-color-text;
  font-feature-settings: "liga", "clig";
}

h1,
h2,
h3 {
  font-family: $s-font-family-serif;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
