@import "assets/styles/settings/_settings";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: map-get($s-layers, modal);
  display: flex;
  width: 100%;
  height: 100%;
  padding: map-get($s-sizes, md) map-get($s-sizes, sm);
  overflow-y: auto;
  background-color: rgba($s-color-black, 0.6);
}

/* Dialog */
.dialog {
  position: relative;
  padding: map-get($s-sizes, xl);
  margin-top: auto;
  margin-bottom: auto;
  background: $s-color-white;
  border-radius: 6px;
  box-shadow: map-get($s-shadows, lg);
}

/* Close */
.close-button {
  all: unset;
  position: absolute;
  top: 0;
  right: 0;
  padding: map-get($s-sizes, xs);
  margin-top: map-get($s-sizes, md);
  margin-right: map-get($s-sizes, md);
  line-height: 1;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;

  svg {
    font-size: 1rem;
    vertical-align: middle;
  }
}
